

# Ignore system files and folders
.DS_Store
Thumbs.db
ntuser.dat
*.log
OneDrive/
anaconda3/
kubectl.exe

# Ignore directories that are common to user profiles and system settings
.android/
.aws/
.bash_history
.boto
.gitconfig
.idlerc/
.kube/
.lesshst
.ssh/
.vscode/
3D Objects/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
